body{
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 900;
}
img{
    width: 100%;
    height: auto;
}
.card{
    font-size: 5vh;
    display: flex;
    justify-content: space-around;
    border-bottom: solid 5vh #390099;
    width:50vw;
    padding: 10vh;
    margin: 10vh auto;
    background:#ffbd00;
    box-shadow: 10vw 10vw 10vw #ff0054;
    border-radius: 10vh 0 10vh 0;
    text-shadow: 1vh 1vh 1vh #ff0054;
}

.avatar{
    width: 20vw;
    border: 1vh dashed #ff0054;
    border-radius: 10px;
    box-shadow: 2vh 2vh 2vh #9e0059;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

p:hover,h1:hover, h3:hover  {
    animation: pulse 1s infinite;
} 

.avatar:hover{
    border:3vh dashed #ff0054;
    animation: spin 2s ease-in-out
}

@keyframes spin{
    from{transform: rotate(0)}
    to{transform: rotate(360deg)}
}




